* {
  margin: 0;
  padding: 0;
}

.hiddenRow {
    padding: 0 !important;
}

.hiddenDescription {
  padding: 30px;
  text-align: justify;
  text-justify: inter-word;
}

.table tbody td .fa {
  font-size: 12px;
  color: #28a745;
  padding-right: 5px; }

[data-toggle="collapse"] .fa:before {
  content: "\f062";
  font-family: "FontAwesome";
  font-style: normal;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  @media (prefers-reduced-motion: reduce) {
    [data-toggle="collapse"] .fa:before {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f063";
  font-family: "FontAwesome";
  font-style: normal;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  @media (prefers-reduced-motion: reduce) {
    [data-toggle="collapse"].collapsed .fa:before {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }

.table-width {
width:1090px;
}
.main {
  padding-bottom: 200px;
}

.custom-table thead tr, .custom-table thead th  {
border-bottom: none !important;
border-top: none;}

.custom-table tbody th, .custom-table tbody td {
  border-bottom: none !important;
  border-top: none;
  cursor: pointer;
}

.custom-table tbody tr {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  .custom-table tbody tr:hover td, .custom-table tbody tr:focus td {
    color: #fff; }
    .custom-table tbody tr:hover .text-truncate, .custom-table tbody tr:focus .text-truncate {
      color: #28a745; }

      ::-webkit-scrollbar {
        width: .45rem;
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgba(27, 27, 27, .4);
        border-radius: 3px;
    }
    ::-webkit-scrollbar-track{
        background: transparent;
    }


     @media only screen and (max-width: 574px) {
     .container {
      flex-direction : column;
    }
    .navbar-collapse {
         order : 2;
     }}


.loginBox {
height: 100%;
}

.loginBox {
display: flex;
align-items: center;
padding-top: 40px;
padding-bottom: 40px;
}

.form-signin {
max-width: 330px;
padding: 15px;
}

/* .form-signin .form-floating:focus-within {
z-index: 2;
} */

/* .form-signin input[type="text"] {
margin-bottom: -1px;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
margin-bottom: 10px;
border-top-left-radius: 0;
border-top-right-radius: 0;
} */



.form-task {
max-width: 430px;
padding: 15px;
}

@media only screen and (min-width: 700px){
.button {
padding-left:30px;
}}

.icon-nav{
fill: white;}

.icon-nav2{
fill: #6c757d;}

.container2{
max-width: 700px;
}



.form-group {
position: relative;
margin-bottom: 1.5rem;
}

.form-control-placeholder {
position: absolute;
top: 0;
padding: 7px 0 0 10px;
transition: all 200ms;
opacity: 0.5;
color: #fff;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
font-size: 69%;
transform: translate3d(0, -100%, 0);
opacity: 1;
top:10px;
}

.form-control {
border: 0;
outline: 0;
border-bottom: 2px solid #eee;
font-size: 16px;
color: #ccc;
background-color: transparent;

}

.form-control:focus {
  border: 0;
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  outline: 0;
  border-bottom: 2px solid #fff;
  box-shadow: 0 0 0 0.2rem transparent;
}

select {
appearance: none;
cursor: pointer;
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
 -o-appearance: none;
}
select::-ms-expand {
display: none;
}

.select-wrapper{
position: relative;	 }

.select-wrapper:after {
font-size: 12px;
color: #28a745;
padding-right: 5px;
content: "\f063";
font-family: "FontAwesome";
font-style: normal;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;
position: absolute;
top: 10px;
right: 10px;
pointer-events: none;}
@media (prefers-reduced-motion: reduce) {
  .select-wrapper:after {
    -webkit-transition: none;
    -o-transition: none;
    transition: none; } }

    .select-wrapper:focus-within::after {
      font-size: 12px;
      color: #28a745;
      padding-right: 5px;
      content: "\f062";
      font-family: "FontAwesome";
      font-style: normal;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      position: absolute;
      top: 10px;
      right: 10px;
      pointer-events: none;}
@media (prefers-reduced-motion: reduce) {
  .select-wrapper:focus-within::after {
    -webkit-transition: none;
    -o-transition: none;
    transition: none; } }

option{
background-color: #6c757d;
}

::-webkit-calendar-picker-indicator {
filter: invert(1);
cursor: pointer;
}

input[type="date"]:disabled {
background: transparent;
}

.label-disabled {
font-size: 69%;
transform: translate3d(0, -100%, 0);
opacity: 1;
top:10px;
}

input[type="text"][disabled] {
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #ccc !important;
}
input:-webkit-autofill:focus{
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

.fit-cont {
  height: fit-content;
}

.full-text {
  white-space: pre-wrap;
}