<nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom">
  <div class="container-fluid">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="logo">
    <svg class="bi icon-nav" width="30" height="24"><use xlink:href="#navTask"/></svg>
    <a class="navbar-brand text-light">NavTask</a>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto mb-2 mb-sm-0">

    {% if current_user.is_anonymous %}
        <li class="nav-item"><a class="nav-link" href="{{url_for('login')}}" title="Login"></a></li>
    {% endif %}
        {% if current_user.is_anonymous == False %}
            <li class="nav-item"><a class="nav-link" href="{{url_for('index')}}" title="Home">Moje Zadania</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('users')}}" title="Użytkownicy">Użytkownicy</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('tasks')}}" title="Zadania">Zadania</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('addtask')}}" title="Dodaj zadanie">Dodaj zadanie</a></li>
        {% endif %}
    </ul>
  </div>
  <div class="float-top">
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('login') }}">Logowanie</a>
    {% else %}
    <a href="{{ url_for('user', username=current_user.username) }}">{{ current_user.username | capitalize}}</a>
     <a href="{{ url_for('change_colors') }}">Zmień Kolor</a>
    <a href="{{ url_for('logout') }}">Wyloguj</a>
    {% endif %}
  </div>
  </div>
</nav>
