{% extends "base.html" %}
{% block content  %}

<div class="container main ">
<div class="table-container container-fluid table-responsive">
	
	<h3 class="mb-4 text-center">Lista zadań</h3>
    <div class="col-md-7">	
        <table class="table text-light table-condensed table-striped custom-table">
        <thead>
            <tr class="row table-width">
                <th scope="col">#</th>
                <th class="col"scope="col">Zadanie</th>
                <th class="col" scope="col">Opis</th>
                <th class="col" scope="col">Utworzył</th>
                <th class="col" scope="col">Wykonawca</th>
                <th class="col" scope="col">Data Utworzenia</th>
                <th class="col" scope="col">Data Zakończenia</th>
            </tr>
        </thead>
        <tbody>

        {% for task in tasks %}
            <tr class="row accordion-toggle collapsed table-width text-secondary" data-toggle="collapse" data-target="#a{{ task.id }}">
                <th scope="row">{{ task.name }}</th>

                    <td class="col">{{ task.title }}</td>
                    <td class="col text-truncate"><div class="fa"></div>{{ task.description }}</td>
                    <td class="col">{{ task.creator }}</td>
                    <td class="col">{{ task.contractor }}</td>
                    <td class="col">{{ task.timestamp_created }}</td>
                    <td class="col">{{ task.timestamp_finished }}</td>


            </tr>
            <tr class="row table-width">
                <td colspan="6" class="hiddenRow">
                    <div id="a{{ task.id }}" class="accordian-body collapse text-break hiddenDescription text-secondary">{{ task.description }}
                    {% if task.creator == current_user %}
                    <form action="{{ url_for('edittask', id=task.id) }}" class="" method="post" novalidate>
                        <div class="button col-md-12 text-center">
                            {{ form2.edit(class_="w-100 btn btn-lg btn-secondary") }}
                        </div>
                        </form>
                    {% endif %}


                    <form action="{{ url_for('finishtask', id=task.id) }}" class="" method="post" novalidate>
                        <div class="button col-md-12 text-center">
                            <p>{{ form2.finish(class_="w-100 btn btn-lg btn-secondary") }}</p>
                        </div>
                    </form>
                    <form action="{{ url_for('deletetask', id=task.id) }}" class="" method="post" novalidate>
                        <div class="button col-md-12 text-center">
                            <p>{{ form2.delete(class_="w-100 btn btn-lg btn-secondary") }}</p>
                        </div>
                    </form>
                        {% for comment in task.comment %}
                        <p> {{ comment.text }}</p>
                        <p> {{ comment.creator }}</p>
                        <p> {{ comment.timestamp_created }}</p>

                    {%  endfor %}
                    </div>

                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>

    </div>
        
</div> 
</div>

{% endblock %}