{% extends "base.html" %}
{% block content %}
    <div class="container">
    <h1>Tasks</h1>
    <br>
    <form action="/tasks" method="post" novalidate>
    {{ form.hidden_tag() }}
        {{ form.task_name.label }}
        {{ form.task_name() }}
        {% for error in form.task_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    <br>
        {{ form.task_description.label }}
        {{ form.task_description() }}
        {% for error in form.task_description.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    <br>
        {{ form.task_creator.label }}
        {{ form.task_creator() }}
        {% for error in form.task_creator.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    <br>
        {{ form.task_contractor.label }}
        {{ form.task_contractor() }}
        {% for error in form.task_contractor.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    <br>
        {{ form.task_date_created.label }}
        {{ form.task_date_created() }}
        {% for error in form.task_date_created.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    <br>
        {{ form.task_date_finished.label }}
        {{ form.task_date_finished() }}
        {% for error in form.task_date_finished.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    <br>
        <p>{{ form.submit(class_="btn btn-primary") }}</p>
    </form>


    <table class="table">
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Zadanie</th>
        <th scope="col">Opis</th>
        <th scope="col">Utworzył</th>
        <th scope="col">Wykonawca</th>
        <th scope="col">Data Utworzenia</th>
        <th scope="col">Data Zakończenia</th>
    </tr>
  </thead>
  <tbody>

  {% for task in tasks %}
      <tr>
        <th scope="row">{{ task[0] }}</th>
            {% for row in range(1,6) %}
                <td>{{ task[row] }}</td>
           {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>


    </div>
{% endblock %}