{% extends "base.html" %}
{% block content  %}
    <div class="container">
    <h1>Tasks</h1>
    <br>
    <form action="/tasks" method="post" novalidate>
    {{ form.hidden_tag() }}
        {{ form.title.label }}
        {{ form.title() }}
        {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    <br>
        {{ form.description.label }}
        {{ form.description() }}
        {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    <br>
        {{ form.creator.label }}
        {{ form.creator() }}
        {% for error in form.creator.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    <br>
        {{ form.contractor.label }}
        {{ form.contractor() }}
        {% for error in form.contractor.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    <br>
        {{ form.timestamp_created.label }}
        {{ form.timestamp_created() }}
        {% for error in form.timestamp_created.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    <br>
        {{ form.timestamp_finished.label }}
        {{ form.timestamp_finished() }}
        {% for error in form.timestamp_finished.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    <br>
        <p>{{ form.submit(class_="btn btn-primary") }}</p>
    </form>


    <table class="table">
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Zadanie</th>
        <th scope="col">Opis</th>
        <th scope="col">Utworzył</th>
        <th scope="col">Wykonawca</th>
        <th scope="col">Data Utworzenia</th>
        <th scope="col">Data Zakończenia</th>
    </tr>
  </thead>
  <tbody>

  {% for task in tasks %}
      <tr>
        <th scope="row">{{ task.name }}</th>

                <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.creator }}</td>
      <td>{{ task.contractor }}</td>
      <td>{{ task.timestamp_created }}</td>
      <td>{{ task.timestamp_finished }}</td>


      </tr>
    {% endfor %}
  </tbody>
</table>


    </div>
{% endblock %}