{% extends "base.html" %}
{% block content  %}

<div class="container main pt-5">
<div class="table-container container-fluid table-responsive">
	
	<h3 class="mb-4 text-center">{{ task.title }}</h3>
    <div class="col-md-7">	
<a class="full-text">{{ task.description }} </a>
    <form action="{{ url_for('task', id=task.id) }}" class="" method="post" novalidate>
        {{ comment_form.hidden_tag() }}
        <div class="form-group row">
            {{ comment_form.text(class_="form-control") }}
            {{ comment_form.text.label(class_="form-control-placeholder") }}
            {% for error in comment_form.text.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="button col-md-12 text-center">
                <p>{{ comment_form.submit(class_="w-100 btn btn-lg btn-primary") }}</p>
        </div>

    </form>
        <br>
            <div  class="btn-group btn-group-sm pt-4" role="group">
            {% if task.creator == current_user %}
            <div class="btn btn-secondary p-0 m-0 fit-cont">
            <form action="{{ url_for('edittask', id=task.id) }}" class="" method="post" novalidate>
                    {{ form2.edit(class_="btn btn-lg btn-secondary") }}
            </form>
            </div>
            <div class="btn btn-secondary p-0 m-0 fit-cont">
            <form action="{{ url_for('deletetask', id=task.id) }}" class="" method="post" novalidate>
                    {{ form2.delete(class_="btn btn-lg btn-secondary") }}
            </form>
            </div>
            {% endif %}
            <div class="btn btn-secondary p-0 m-0 fit-cont">
            <form action="{{ url_for('finishtask', id=task.id) }}" class="" method="post" novalidate>
                    {{ form2.finish(class_="btn btn-lg btn-secondary") }}
            </form>
            </div>

                {% for comment in task.comment %}
                <p> {{ comment.text }}</p>
                <p> {{ comment.creator }}</p>
                <p> {{ comment.timestamp_created }}</p>

            {%  endfor %}
            </div>


    </div>

</div>
</div>

{% endblock %}